* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 24px;
    font-family: Brush Script MT, Georgia, serif;
    font-weight: 400; /* safari fix */
}

body {
	background-color: #fbf1c7;
	color: #3c3836;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;

    margin: 1em 1em;
}

#query, #books {
    width: 100%;

    padding: 6px 12px;
    background-color: #ebdbb2;
    color: inherit;

    border: 2px solid #7c6f64;
    border-radius: 0.5em;
}

#query:focus {
    outline: none;
    border-color: #d79921;
}

#books {
    list-style: none;
}

li.book {
    margin: 0.5em 0;
}

a {
    color: #076678;
}
